/* App.js */

* {
  font-family: 'Space Mono', monospace;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

a,
a:checked {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 100px;
  pointer-events: none;
  margin: 30px;
}

footer {
  margin: 30px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  max-width: 900px;
  margin: 100px auto;
  min-height: 100vh;
  background-color: rgb(248, 242, 234);
  border-radius: 10px;
}

/* Search.js */

.btn-group {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  background-color: transparent;
  font-style: inherit;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.btn {
  background-color: transparent;
  font-style: inherit;
  border: none;
  font-weight: 700;
  padding-left: 15px;
}

.btn:hover,
.btn:hover {
  color: aquamarine;
}

/* Description.js */

.warning {
  background-color: rgb(247, 146, 146);
  padding: 5px 20px;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: fit-content;
  float: right;
}

.description {
  margin: 10px;
}

h2 {
  text-align: left;
  padding-left: 10px;
}

h4 {
  text-align: left;
  padding: 5px 10px;
  text-decoration: overline;
}

h6,
h5 {
  text-align: left;
  padding: 0px 10px;
  margin: 1px;
}

.material-symbols-outlined {
  font-size: 24px;
  line-height: 0;
}

.text-right {
  text-align: right;
}

.small-definitions {
  padding-left: 30px;
}

/* Album */

.album {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fit-picture {
  border: 4px solid rgb(238, 192, 192);
  border-radius: 2px;
  width: 100%;
}